@using Teromac.Core.Domain.Users
@using Teromac.Web.Framework.UI;
@using Teromac.Core;
@using Teromac.Core.Domain
@using Teromac.Core.Domain.Common;
@using Teromac.Services.Common
@using Teromac.Services.Users
@using Teromac.Services.Security;

@{
    var kendoVersion = "2014.1.318";

    //CSS resources
    Html.AppendCssFileParts(string.Format("~/Content/kendo/{0}/kendo.default.min.css", kendoVersion));
    Html.AppendCssFileParts(string.Format("~/Content/kendo/{0}/kendo.common.min.css", kendoVersion));
    Html.AppendCssFileParts("~/Content/jquery-ui-themes/smoothness/jquery-ui-1.10.3.custom.min.css");
    Html.AppendCssFileParts("~/Content/styles.css");

    Html.AppendScriptParts(string.Format("~/Scripts/kendo/{0}/kendo.web.min.js", kendoVersion));
    Html.AppendScriptParts("~/Scripts/admin.common.js");
    Html.AppendScriptParts("~/Scripts/jquery-migrate-1.2.1.min.js");
    Html.AppendScriptParts("~/Scripts/jquery-ui-1.10.3.custom.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.validate.unobtrusive.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.validate.min.js");
    Html.AppendScriptParts("~/Scripts/jquery-1.10.2.min.js");

    var currentUser = EngineContext.Current.Resolve<IWorkContext>().CurrentUser;
}

<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        @Html.TeromacCssFiles(this.Url, ResourceLocation.Head, false)
        @Html.TeromacScripts(this.Url, ResourceLocation.Head, false)
    </head>
<body>
    <div id="ajaxBusy">
        <span>&nbsp;</span>
    </div>
    <div class="master-wrapper-page k-content">
        <div class="master-wrapper-content">
            <div class="header">
                <div class="logo">
                </div>
                <div class="links">
                </div>
                <div class="login-info">
                    @if (currentUser != null && currentUser.IsRegistered() && currentUser.Active)
                    {
                        @String.Format("Logged in as {0}", currentUser.Username)<text>,</text> @Html.ActionLink("Logout", "Logout", "Common", new { area = "" }, null)
                    }
                </div>
            </div>
            <div class="header-menu">
                @Html.Partial("Menu")
            </div>
            <div class="content">
                <div class="cph">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</body>
</html>
